body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;}

img {
    display: block;
    max-width: 100%;
}

button {
    transition: all 0.2s ease-in-out;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

/*---TYPOGRAPHY---*/

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

.sub-header {
    font-size: 1.1rem;
    font-weight: 500;
    font-style: italic;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: 1rem;
}

.info-header {
    font-size: 1.1rem;
    font-weight: bolder;
    margin: 0.5em 0 0;
}

/* --- GENERAL --- */

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.borders {
    border: 1px solid #ff00fb;
}

footer {
    margin-top: 1em;
    padding-top: 1em;


}

table {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

table td {
    vertical-align: middle;
}

.btn__link {
    font-size: 1.5rem;
    text-decoration: none;
    color: #000000;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.btn__link:hover {
    color: #ffc107;
}


/* --- CLASSES --- */

.station__container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}
